@model Art

<div class="thumbnail" style="margin-top:20px;">
    <img src="~/images/wayToFinishConcept.png" alt="" />
    <div class="caption-full">
        <h5 style="font-weight:bold; margin-top:30px;">About me</h5>
        
        <p style="padding:5px 20px 20px 20px; text-align:justify;">Od czasów podstawówki chciałem robić ilustracje do gier, książek czy do promowania filmów. Zdecydowanie najbardziej interesuje mnie digital painting, gdyż dzięki nowoczesnym programom takim jak photoshop jestem w stanie tworzyć wszelakie ilustracje oraz concept arty, dlatego w moim portfolio znajduje się najwięcej prac wykonanych cyfrowo. Praca ta wymaga wiele cierpliwości, zdeterminowania, ale przede wszystkim skupienia, aby każdy aspekt pracy odzwierciedlał wizję jaką chcę osiągnąć. Na wielu moich pracach istnieje mój internetowy pseudonim Shain, który jest ze mną od wielu dobrych lat i kryje się za nim trochę dłuższa historia...</p>
    </div>
</div>

